<div class="row">
    <div class="col-lg-8 col-12">
        <h3>Change Your Password</h3>
    </div>
    <form class="form" action="/user/changepass" method="post">
        <div class="row">
            <div class="col-lg-6 col-12">
                <div class="form-group">
                    <label>Current Password</label>
                    <input name="" type="password" id="password" placeholder="Current Placeholder">
                </div>
            </div>

            <div class="col-lg-6 col-12">
                <div class="form-group">
                    <label>Confirm Password</label>
                    <input name="Password" type="password" id="newpassword" placeholder="New password">
                </div>
            </div>

            <div class="col-lg-6 col-12">
                <div class="form-group">
                    <label>Confirm New Password</label>
                    <input name="Password" type="password" id="newpassword" placeholder="Confirm password">
                </div>
            </div>

            <div class="col-12">
                <div class="form-group button">
                    <button type="submit" class="btn">Change Password</button>
                    <a href="~/account/register" class="btn" style="text-decoration:none;color:#ffffff;">Register</a>
                </div>
            </div>
        </div>
    </form>
</div>

